<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-backgrounds"><%= link_to "Backgrounds", casein_backgrounds_path %></li>
<li id="tab-skills"><%= link_to "Skills", casein_skills_path %></li>